<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EventCraft_Platform_TestSuite" verbose="1">
    
    <test name="Core_Business_Validation_Tests">
        <classes>
            <!-- 1. Test chức năng Xác thực đăng nhập -->
            <class name="com.swp391.eventcraft.service.AuthenticationTest"/>
            
            <!-- 2. Test chức năng Kiểm tra định dạng Email -->
            <class name="com.swp391.eventcraft.service.EmailValidationTest"/>
            
            <!-- 3. Test chức năng Kiểm tra Số điện thoại Việt Nam -->
            <class name="com.swp391.eventcraft.service.PhoneValidationTest"/>
        </classes>
    </test>
    
</suite>
